[submodule "emacs/.emacs-distros/doom"]
	path = emacs/.emacs-distros/doom
	url = https://github.com/hlissner/doom-emacs
[submodule "emacs/.config/emacs"]
	path = emacs/.config/emacs
	url = https://github.com/plexus/chemacs2
[submodule "emacs/.emacs-distros/crafted"]
	path = emacs/.emacs-distros/crafted
	url = https://github.com/SystemCrafters/crafted-emacs.git
