[submodule "emacs/.emacs-distros/doom"]
	path = emacs/.emacs-distros/doom
	url = https://github.com/hlissner/doom-emacs
[submodule "emacs/.config/emacs"]
	path = emacs/.config/emacs
	url = https://github.com/plexus/chemacs2
[submodule "emacs/.emacs-distros/spacemacs"]
	path = emacs/.emacs-distros/spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "emacs/.emacs-distros/rational"]
	path = emacs/.emacs-distros/rational
	url = https://github.com/SystemCrafters/rational-emacs
